.momazo {
    max-width: 800px;
    max-height: 800px;
    border-radius: 15px;
}
.boton-discord {
            border: none;
            background: none;
            cursor: pointer;
            padding: 0;
        }
        .boton-discord img {
            display: block;
            width: 40px; /* Ajusta el tamaño según sea necesario */
            height: auto;
        }
        /* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, section, footer {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

header {
    background-color: #f4f4f4;
}

nav {
    background-color: #e2e2e2;
}

section {
    padding: 20px;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
}

/* Media Query para dispositivos móviles */
@media (max-width: 600px) {
    nav ul {
        padding: 0;
        list-style-type: none;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    nav ul li a {
        text-decoration: none;
        color: #000;
    }
}
.textmarc {
    border: 5px solid #000; /* Color y grosor del borde */
    border-radius: 15px; /* Radio de los bordes redondeados */
    padding: 10px; /* Espacio entre el borde y el texto */
    margin: 10px; /* Espacio alrededor del borde */
}
        .cancer {
            width: 900px;
            height: 500px;
        }
        .contenedordemomos {
            border: 1px solid #d3d3d3; /* Marco fino gris claro */
            padding: 10px;
            max-width: 300px;
            margin: auto;
            position: relative;
        }
        .contenedordemomos img {
            width: 100%; /* Ajusta la imagen al ancho del contenedor */
            height: auto;
        }
        .buttons {
    position: absolute;
    bottom: 20px; /* Ajusta según el espacio necesario */
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #000; /* Ajusta el grosor y el color del borde según tu preferencia */
    width: 200px; /* Establece un ancho fijo para que sea un cuadrado */
    height: 200px; /* Establece una altura fija igual al ancho para mantener la forma cuadrada */
    box-sizing: border-box; /* Incluye el borde y el padding en el cálculo del ancho y alto */
}

        .button {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 16px; /* Tamaño del icono */
        }