.momazo {
    max-width: 500pxpx;
    max-height: 500px;
}
.boton-discord {
            border: none;
            background: none;
            cursor: pointer;
            padding: 0;
        }
        .boton-discord img {
            display: block;
            width: 40px; /* Ajusta el tamaño según sea necesario */
            height: auto;
        }
        /* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, section, footer {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

header {
    background-color: #f4f4f4;
}

nav {
    background-color: #e2e2e2;
}

section {
    padding: 20px;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
}

/* Media Query para dispositivos móviles */
@media (max-width: 600px) {
    nav ul {
        padding: 0;
        list-style-type: none;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    nav ul li a {
        text-decoration: none;
        color: #000;
    }
}
.textmarc {
    border: 5px solid #000; /* Color y grosor del borde */
    border-radius: 15px; /* Radio de los bordes redondeados */
    padding: 10px; /* Espacio entre el borde y el texto */
    margin: 10px; /* Espacio alrededor del borde */
}
.button-container {
            display: flex;
            gap: 10px; /* Espacio entre botones */
        }
        .button-container button {
            padding: 10px 20px;
            border: none;
            border-radius: 20px; /* Bordes redondeados */
            cursor: pointer;
            font-size: 16px;
            color: #fff;
            background-color: #6c757d; /* Color de fondo gris */
            transition: background-color 0.3s;
        }
        .button-container button:hover {
            background-color: #5a6268; /* Color gris más oscuro al pasar el cursor */
        }